*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db

/app/third_party/mycertificado.pem
/app/third_party/mycertificado.pem.pruba_actual
/app/third_party/mycertificado.pem.ant
/app/third_party/mycertificado.pem.prueba
/app/third_party/mycertificado.pem.real
/app/third_party/mycertificado.off.pem

/app/third_party/private.off.pem

/app/third_party/private no corresponde.pem
/app/third_party/private.pem
/app/third_party/private.pem.ant
/app/third_party/private.pem.prueba
/app/third_party/private.pem.prueba_actual
/app/third_party/private.pem.real
/app/third_party/*.pem
/app/third_party/**
